---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/oxygen";
//@ts-ignore
import Transition from "@julian_cataldo/astro-transition/Transition.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    prompt? : string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, prompt },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
     
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }

     
    </style>
  </head>

  <body class="mt-20"> <Transition speed={500} background='white' zIndex={1000} />
    <Header />
    <main >
   <article >
    <section class="w-full bg-prussian-900 mx-auto py-12">
<h1 class="max-w-5xl px-4 text-4xl mx-auto text-center text-white pb-6">{title}</h1>
    </section>
      <div class="px-4">
        <section class="mx-auto max-w-5xl p-4 border rounded-lg shadow-lg mt-[-2rem] bg-white">
          {
          heroImage && (
            <img
              width="100%"
              height={200}
              src={heroImage}
              alt={description}
              class="object-cover max-h-80 object-center"
            /><div class="text-sm">
            Image generated with <a href="https://huggingface.co/spaces/stabilityai/stable-diffusion">Stable Diffusion</a>
            </div>
            <div class="text-sm">Prompt: {prompt}</div>
          )
          
        }
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
        </section>
      </div>
      </article>
    </main>
    <Footer />
  </body>
</html>

<style is:inline>
  p {
    line-height: 1.5;
    margin: 1em 0;
  }

  h2 {
    margin-top: 2rem;
    font-size: x-large;
  }

  article img {
    border-radius: 5px;
  }

  pre {border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;}

    ul {
      list-style: disc;
      margin-left: 1.5rem;
    }

    ol {
      list-style: decimal;
      margin-left: 1.5rem;
    }
</style>
